<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DllControleDeVendas.Properties.Settings.Conexao" connectionString="Data Source=R2D2\SQLEXPRESS;Initial Catalog=ControleDeVendas;Integrated Security=True" />
        <add name="DllControleDeVendas.Properties.Settings.Conexao2"
            connectionString="Data Source=N776;Initial Catalog=ControleDeVendas;Integrated Security=True" />
    </connectionStrings>
</configuration>